table.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
  border: 1px solid black!important
}

section:not([role]) ol>li {
  margin: 0 0 10px
}

i.mce-i-icon-anchor:before {
  content: "\f13d";
  font-family: FontAwesome;
}

i.mce-i-icon-inline-code:before {
  content: "\f121";
  font-family: FontAwesome;
}

i.mce-i-icon-inline-quote:before {
  content: "\f10e";
  font-family: FontAwesome;
}

i.mce-i-icon-table:before {
  content: "\f0ce";
  font-family: FontAwesome;
}

i.mce-i-icon-figure:before {
  content: "\f03e";
  font-family: FontAwesome;
}

i.mce-i-icon-listing:before {
  content: "\f022";
  font-family: FontAwesome;
}

i.mce-i-icon-formula:before {
  content: "\f1ec";
  font-family: FontAwesome;
}