table.mce-item-table,
.mce-item-table td,
.mce-item-table th,
.mce-item-table caption {
  border: 1px solid black!important
}

header.page-header.container.cgen:hover {
  cursor: pointer
}

section ol>li,
section ul>li {
  margin: 0 0 10px
}

ol ol,
ul ul,
ol ol ol,
ul ul ul {
  margin-top: 10px
}

li.hidden-list-style{
  list-style-type: none
}

i.mce-i-icon-anchor:before {
  content: "\f13d";
  font-family: FontAwesome;
}

i.mce-i-icon-asterisk:before {
  content: "\f069";
  font-family: FontAwesome;
}

i.mce-i-icon-inline-code:before {
  content: "\f121";
  font-family: FontAwesome;
}

i.mce-i-icon-inline-quote:before {
  content: "\f10e";
  font-family: FontAwesome;
}

i.mce-i-icon-table:before {
  content: "\f0ce";
  font-family: FontAwesome;
}

i.mce-i-icon-image:before {
  content: "\f03e";
  font-family: FontAwesome;
}

i.mce-i-icon-listing:before {
  content: "\f022";
  font-family: FontAwesome;
}

i.mce-i-icon-formula:before {
  content: "\f1ec";
  font-family: FontAwesome;
}

i.mce-i-icon-listing:before {
  content: "\f022";
  font-family: FontAwesome;
}

i.mce-i-icon-ol:before {
  content: "\f0cb";
  font-family: FontAwesome;
}

i.mce-i-icon-ul:before {
  content: "\f0ca";
  font-family: FontAwesome;
}

span>svg:hover {
  cursor: pointer
}